.card{
    background-color: rgba(242, 228, 255, 0.918);
    margin-top: 15px;
    font-size: 15px;
    border:1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    width: 20.5rem;
    padding:5px;
}
.parrafo{
    text-align: start;
    font-family:cursive;
    font-size: 1.3rem;
    text-decoration:solid;
    color: black;
}

.img{
    width: 95%;
    border:0.5rem solid black;
}

.img:hover{
    opacity: 0.5;
}